<title>Title</title>
<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navlogout.ejs') %>
    <div class="row " id="body-row">
        <!-- Sidebar -->
        <%- include('../includes/sidebar.ejs') %>

        <!-- MAIN -->
        <div class="col" style="padding: 0%;margin: 0%;">

            <div class="main bg-light" id="main">
                <% if (user.length > 0) { %>
                <div class="row m-5 dsp">
                    <% for (let employees of user) { %>
                    <div class="card3d  mx-2 my-3">
                        <div class="card h bg-warning " style="width: 18rem;">
                            <div class="row card-header m-1">
                                <div class="col-4">
                                    <img class="card-img-top img-rounded"
                                        src="https://scontent.fblr1-5.fna.fbcdn.net/v/t1.0-1/s320x320/90595729_1088235798202704_4309944104659189760_o.jpg?_nc_cat=110&ccb=3&_nc_sid=7206a8&_nc_ohc=_8c5NBhjaCwAX89TRFO&_nc_ht=scontent.fblr1-5.fna&tp=7&oh=92b342e6740515c2e88947a20ce648e7&oe=6055B905"
                                        alt="user Img" width="180">
                                </div>
                                <div class="col-7 mt-3">
                                    <div class="">
                                        <h5><%= employees.firstName %></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title"> <%= employees.firstName %>
                                    <%= employees.LastName %></h6>
                                <div class="card-text col-12">
                                    <div class="row">
                                        <div class="col-12"> <%= employees.useremail %></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> <%= employees.userPhoneNumber %></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><%= employees.gender %></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><%= employees.dfb %></div>
                                    </div>
                                    <div class="row mt-3     ">
                                        <a class="mr-2" href="/admin/<%= employees.Id %>">
                                            <button class="btn btn-primary"> View more</button>
                                        </a>
                                        <a href="/deleted/<%= employees.Id %>" class="p-1" method="post">
          
                                            <button class="btn btn-primary p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                       </button>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% }else { %> <h1>No Employees Found!</h1> <% } %>
            </div>

        </div><!-- Main Col END -->
    </div>
    <%- include('../includes/end.ejs') %>