<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="m-5 text-center">
        <% if (user.length > 0) { %>
            <h2 class="m-5">Edited Employees</h2>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Ip Address</th>
                    <th scope="col">Remember</th> 
                </tr>
            </thead>
            <tbody>
                <% for (let employees of user ) { %>
                <tr>
                    <td>
                        <%= employees.Id %>
                    </td>
                    <td>
                        <%= employees.efirstName %>
                        <%= employees.eLastName %>
                    </td>
                    <td>
                        <%= employees.euseremail %>
                    </td>
                    <td>
                        <%= employees.euserPhoneNumber %>
                    </td>
                    <td>
                        <%= employees.egender %>
                    </td>
                    <td>
                        <%= employees.edfb %>
                    </td>
                    <td>
                        <%= employees.eip_address %>
                    </td>
                    <td>
                        <%= employees.eAccepted %>
                    </td>
                   
                </tr>
                <% } %>
            </tbody>
        </table>
        <% }else { %> <h1>No Employees Found!</h1> <% } %>
    </div>
    <%- include('../includes/end.ejs') %>
</body>