  <%- include('../includes/head.ejs') %>
  </head>

  <body>
      <%- include('../includes/navigation.ejs') %>
      <div class="m-5">
          <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                  <div class="card h-100">
                      <div class="card-header">
                          <h1><%= user.firstName %> Profile</h1>
                      </div>
                      <div class="card-body ">
                          <h5 class="card-title"> <%= user.firstName %>
                              <%= user.LastName %></h5>
                          <div class="card-text col-5">
                              <div class="row">
                                  <div class="col-5">Email </div>
                                  <div class="col-5"> <%= user.useremail %></div>
                              </div>
                              <div class="row">
                                  <div class="col-5"> Contact No </div>
                                  <div class="col-5"> <%= user.userPhoneNumber %></div>
                              </div>
                              <div class="row">
                                  <div class="col-5"> Gender </div>
                                  <div class="col-5"><%= user.gender %></div>
                              </div>
                              <div class="row">
                                  <div class="col-5">Date Of Birth </div>
                                  <div class="col-5"><%= user.dfb %></div>
                              </div>
                              <div class="row">
                                  <div class="col-5"> Ip_Address </div>
                                  <div class="col-5"><%= user.ip_address %></div>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <button class="btn btn-primary">Restore</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <%- include('../includes/end.ejs') %>