<title>Title</title>
<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navlogout.ejs') %>
    <div class="row " id="body-row">
        <!-- Sidebar -->
        <%- include('../includes/sidebar.ejs') %>

        <!-- MAIN -->
        <div class="col" style="padding: 0%;margin: 0%;">

            <div class="main bg-light" id="main">
                <% if (user.length > 0) { %>
                <div class="row m-5 dsp">
                    <% for (let employees of user) { %>
                    <div class="card3d  mx-2 my-3">
                        <div class="card h bg-danger " style="width: 18rem;">
                            <div class="row card-header m-1">
                                <div class="col-4">
                                    <img class="card-img-top img-rounded"
                                        src="https://scontent.fblr1-5.fna.fbcdn.net/v/t1.0-1/s320x320/90595729_1088235798202704_4309944104659189760_o.jpg?_nc_cat=110&ccb=3&_nc_sid=7206a8&_nc_ohc=_8c5NBhjaCwAX89TRFO&_nc_ht=scontent.fblr1-5.fna&tp=7&oh=92b342e6740515c2e88947a20ce648e7&oe=6055B905"
                                        alt="user Img" width="180">
                                </div>
                                <div class="col-7 mt-3">
                                    <div class="">
                                        <h5><%= employees.firstName %></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title"> <%= employees.firstName %>
                                    <%= employees.LastName %></h6>
                                <div class="card-text col-12">
                                    <div class="row">
                                        <div class="col-12"> <%= employees.useremail %></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> <%= employees.userPhoneNumber %></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><%= employees.gender %></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><%= employees.dfb %></div>
                                    </div>
                                    <div class="row mt-3     ">
                                        <a class="mr-2" href="/empCards/<%= employees.Id %>">
                                            <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                              </svg></button>
                                        </a>
                                         
                                       </button>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% }else { %> <h1>No Employees Found!</h1> <% } %>
            </div>

        </div><!-- Main Col END -->
    </div>
    <%- include('../includes/end.ejs') %>