<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <div class="container my-5 text-center d-flex justify-content-center">
        <form class=" text-center   badge-light w-50   p-4" action="/edit" method="POST">
          
                  <h3 class="py-2">Edit Employee</h3>
            <div class="form-group">
                <input type="number" class="form-control" name="Id" value="<%= user.Id %>"
                        id="Id" placeholder="Id" readonly>
            </div>
            <div class="form-row form-group ">
                <div class="col">
                    <input type="text" class="form-control" value="<%= user.firstName %>" name="efirstName" id="firstName"
                        placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="<%= user.LastName %>" name="eLastName" placeholder="Last name">
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="euserPhoneNumber" id="phoneNumberId" value="<%= user.userPhoneNumber %>"
                    placeholder="Enter Your Phone Number">
            </div>
            <div class="form-group ">
                <input type="email" class="form-control" name="euseremail" id="emailId" value="<%= user.useremail %>"
                    placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="epassword" id="password" value="Anil923546"
                    placeholder="Enter password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="econfirmPassword" value="Anil923546"
                    id="confirmPassword" placeholder="confirm  password">
            </div>
            <div class="form-group w-100 custom-control-inline">
                <h3 class="mr-5">Gender </h3>
                <div class="custom-control custom-radio custom-control-inline d-flex align-items-center">
                    <input type="radio" id="maleRadiocheck" name="egender" value="Male" class="custom-control-input"
                        checked>
                    <label class="custom-control-label h5" for="maleRadiocheck">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline d-flex align-items-center">
                    <input type="radio" id="femaleRadiocheck" name="egender" value="Female" class="custom-control-input">
                    <label class="custom-control-label h5" for="femaleRadiocheck">Female</label>
                </div>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="edfb" id="dfb" value="<%= user.dfb %>"
                    placeholder="Enter Your date of birth">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="eip_address" id="ip_address" value="<%= user.ip_address %>"
                    placeholder="Enter Your Ip Address">
            </div>
            <div class="form-group custom-control custom-checkbox text-left">
                <input type="checkbox" class="custom-control-input text-right" value="Yes" name="eAccepted"
                    id="agreeCheck" checked>
                <label class="custom-control-label" for="agreeCheck">I Agree all terms and conditions
                    <a href="#">learn more</a>
                </label>
            </div>
            <button type="submit" class="btn btn-primary px-5">Submit</button>
        </form>
    </div>
    <%- include('../includes/end.ejs') %>